<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat app</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>     
    <link rel="stylesheet" href="/stylesheet/style2.css">
</head>

<body>
    <p id="name"><%= name %></p>
    <section class="chat__section">
        <div class="brand">
            <img height="40" src="/images/chatImg.png" alt="">
            <h1>Chat Application</h1>
        </div>
        <div class="message__area"></div>
        <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
    </section>
  
    <script src="/client.js"></script>
    <script>
      //  document.getElementById('name')
       


    </script>
    
</body>

</html>