<!DOCTYPE html>
<html>
<head>
  <style>
    body{
  background: url('/images/theme.jpg') no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
  div.transbox{
    margin: 50px;
    opacity: 1.0;
  }

    img {
  border-radius: 25%;
  height: 100px;
  width: 100px;
  margin-top: -20px;
  
}
body {
  color: white;
  font-size: 16px;
}

h1 {
  color: white;
}
    </style>
    <script src="/scripts/table-sortable.js" ></script>
</head>
<div class="transbox">
  <div class="row mt-5">
      <div class="col-md-6 m-auto">
       <center><img src="/images/email.jpg"></img></center>
        <h3 class="text-center mb-3"> Verify Email</h3>
        <% include ./partials/messages.ejs %>
<form name="forgetPass" id="forgetPass" >
    <div class="form-group">
        <label for="email">Email</label>
             <input type="email" placeholder="Enter Your Registered Email" class="form-control" id="emailPass" value=""   name="emailPass" required="true"><br></br>
         </div>
         <center><button type="submit" class="btn btn-info" id="sendMail">  Verify  </button></center>
        </div>
</form>
</div>
</div>
</div>
<script>
$('#sendMail').on('click',function(event){
    
    event.preventDefault();
    event.stopPropagation();
    event.stopImmediatePropagation();
    alert('Verifying!');
    var $inputs = $('#forgetPass :input');
    var values = {};
    $inputs.each(function() {
        values[this.name] = $(this).val();
    });
    alert('You Entered : '+JSON.stringify(values));
    $.ajax({
        url : '/users/EmailVerification',
        type:'post',
        data: values,
        dataType : 'json'
    })
    .done((response) =>{
        console.log('response ::'+JSON.stringify(response));
        var val =response[0];
 //       const id = response[0].sfid;
        console.log('response val'+JSON.stringify(val));
        $.ajax({
            url : '/users/send',
            type:'post',
            data: val,
            dataType : 'json'
        })
        .done((response)=>{
            console.log('Email Send'+response);
        })
        .fail((jqXHR, status, error) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
      })    

    })
    .fail((jqXHR, status, error) => {
          console.log('Fisrt Response Eror ');
          console.log('jqXHR  '+JSON.stringify(jqXHR));
    })
})
</script>
