<head>
  <style>
    body{
  background: url('/images/theme.jpg') no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
  div.transbox{
    margin: 50px;
    opacity: 1.0;
  }

    img {
  border-radius: 25%;
  height: 100px;
  width: 100px;
  margin-top: -20px;
  
}
body {
  color: white;
  font-size: 16px;
}

h1 {
  color: white;
}
    </style>
    <script src="/scripts/table-sortable.js" ></script>
</head>
<div class="transbox">
  <div class="row mt-5">
      <div class="col-md-6 m-auto">
       <center><img src="/images/resetpass.jpg"></img></center>
        <h3 class="text-center mb-3"> Generate New Password</h3>
<form name="savepassword" id="savepassword"  >
    <div class="form-group">
             <label for="ama">Password</label>
           <input type="text" placeholder="Enter your new password"  class="form-control" id="pass" name="pass" required="true"><br></br>
     </div>
     <div class="form-group">
        <div class="form-group">
            <label for="ama">Retype Password</label>
          <input type="text" placeholder="Retype your new password"  class="form-control" id="pass2" name="pass2" required="true"><br></br>
    </div>
  <div><center><button type="submit" class="btn btn-info" id="savePass"> Generate Password </button></center></div>
</form>
      </div>
    </div>
    </div>
<p id = 'contactID'><%=userId %></p>
<script>
    $(document).ready(function(){
        $('#contactID').hide();
    $('#savePass').on('click',function(event){
        alert('password saving');
        $('#contactID').hide();
        let ids =document.getElementById('contactID').innerHTML;
        alert(ids);
        var $inputs = $('#savepassword :input');
        var values = {};
        $inputs.each(function() {
            values[this.name] = $(this).val();
            console.log('password '+values);
            values.user =ids;
    
            console.log('password ids'+values);
        });
        $.ajax({
            url : '/users/updatePass',
            type:'post',
            data: values,
            dataType : 'json'
        })
        .done((response)=>{
            console.log('updated succesfuly');
        })
        .fail((jqXHR, status, error) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
      })   
    })
})
</script>
